name: Build and Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - goos: darwin
            goarch: amd64
            output_name: sshmgr-darwin-amd64
          - goos: linux
            goarch: amd64
            output_name: sshmgr-linux-amd64
          - goos: linux
            goarch: arm64
            output_name: sshmgr-linux-arm64
          - goos: windows
            goarch: amd64
            output_name: sshmgr-windows-amd64.exe

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Build
        run: |
          go build -o ${{ matrix.output_name }} .
          echo "Build completed: ${{ matrix.output_name }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.output_name }}
          path: ${{ matrix.output_name }}
